<footer class="landing-footer">
    <p>&copy; 2025 BYU-Idaho Class Scheduler. All rights reserved.</p>
    <!-- create link for privacy page -->
    <p><a href="/privacy" class="privacy-link">Privacy Policy</a></p>
</footer>