
@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-right {
        display: flex;
        gap: 15px;
        align-items: center;
        margin: unset;
    }

    .features-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    /* Login Page */
    .login-container {
        padding: 0;
    }

    .login-box {
        padding: 50px 40px;
        max-width: 450px;
    }

    .login-box h1 {
        font-size: 32px;
    }

    .login-box p {
        font-size: 16px;
    }

    .google-login-button {
        font-size: 16px;
        padding: 14px;
    }

    .modal-content {
        width: 90%;
        max-width: 500px;
        /* margin: 20% auto; */
    }

    /* Dashboard */
    .dashboard-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }
    .days-select, .reminder-options {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }
    .days-checkboxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }

    .custom-time-input {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .color-grid {
        grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
        gap: 10px;
        padding: 15px;
    }

    .color-button {
        width: 45px;
        height: 45px;
    }

    .create-section, .events-section {
        padding: 20px;
    }
}